<header class="container-fluid">
    <a href="/"><img src="/images/logo.png" alt="" /></a>
    <nav>
        <ul class="menu">
            <li><a href="">smartphones</a></li>
            <li><a href="">tablets</a></li>
            <li><a href="">computadoras</a></li>
        </ul>
        <ul class="user">
            <li><a href="/products/add">Agregar</a></li>
            <li><a href="/users/login">login</a></li>
            <li><a href="/users/register">registro</a></li>
        </ul>
    </nav>
</header>